* {
    border: none;
    padding: 0;
    margin: 0;
}

body
{
    overflow-x: hidden;
    /* background-color: #000000; */
    background-image: url("n.png");
}
.border{
    animation-name: borderAnim;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transform: translateY(-200px);
    border: 3px solid yellow;
    margin: calc(25vh - 1px) auto;
    width: 50vw;
    height: 30vh;
    /* padding: 40%; */
}
.header{
    transform: translateY(-20px);
    transform: translateX(40vw);
    
    /* color: #3500D3; */
    /* font-family: 'Merriweather Sans', sans-serif; */
    /* font-family: 'Bebas Neue', cursive; */
    font-family: 'Teko', sans-serif;
    font-size: 70px;
}
h4{
    animation-name: textColor;
    animation-duration: 4.5s;
    animation-iteration-count: infinite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(60, 60, 245);
    font-size: 39px;
}
p{
    color: rgb(45, 45, 214);
    font-family: 'Teko', sans-serif;
    font-size: 20px;
}
.nasa{
    color: rgb(43, 213, 255);
    font-size: 20px;
}

.snasa
{
    background-image: url("https://cdn.discordapp.com/attachments/514769882399899649/675302870752428032/0001-0039.gif");
    background-size: cover;
}

@keyframes borderAnim
{
    33% {border: 3px solid blue;}
    66% {border: 3px solid lightblue;}
    100% {border: 3px solid blue;}
}

@keyframes textColor
{
    25% {color: #0000e6;}
    50% {color: #1a1aff;}
    75% {color: #4d4dff;}
    100% {color: #0000e6;} /*0126 0145 0155 040 0166 0151 0163 0163 0164 0145 040 0141 0164 0164 040 070 040 0303 0244 0166 0145 0156 040 0146 0151 0156 0156 0163 040 0151 040 0145 0156 040 0160 0157 0160 0165 0154 0303 0244 0162 040 0164 0141 0154 0142 0141 0163 040 0146 0303 0266 0162 040 0154 0303 0245 0147 0156 0151 0166 0303 0245 055 0153 0157 0144 077 056 056 040 0112 0141 0147 056 040 012 012 0106 0141 0143 0145 0142 0157 0157 0153 0163 040 0156 0171 0141 040 0156 0141 0155 0156 040 0303 0244 0162 040 0153 0165 0154 040 0146 0303 0266 0162 040 0141 0164 0164 040 0144 0145 0164 040 0163 0303 0244 0147 0145 0162 040 0162 0141 0153 0164 040 0165 0164 040 0166 0141 0144 040 0144 0145 040 0166 0151 0154 0154 040 0150 0141 040 0165 0162 040 0163 0151 0156 0141 040 0141 0156 0166 0303 0244 0156 0144 0141 0162 0145 056 040 0117 0155 040 0155 0141 0156 040 0154 0141 0144 0144 0141 0162 040 0156 0145 0162 040 0160 0303 0245 040 0154 0303 0266 0153 0145 0156 040 0153 0141 0156 040 0144 0145 0164 040 0163 0156 0141 0142 0142 0164 040 0166 0151 0163 0141 040 0166 0145 0155 040 0144 0165 040 0303 0244 0162 056 040 012 012 0303 0226 0160 0160 0156 0141 040 0142 0151 0154 0144 0145 0156 040 0155 0145 0144 040 0126 0123 040 0157 0143 0150 040 0154 0303 0244 0163 040 0141 0163 0163 0145 0155 0142 0154 0171 040 0153 0157 0144 0145 0156 040 0154 0303 0244 0156 0147 0163 0164 040 0156 0145 0162 056*/
}
