* {
    border: none;
    padding: 0;
    margin: 0;
}

body{
    overflow-x: hidden;
    /* background-color: #000000; */
    background-image: url("n.png");
}
.border{
    transform: translateY(-200px);
    border: 1px solid white;
    margin: calc(25vh - 1px) auto;
    width: 50vw;
    height: 30vh;
    /* padding: 40%; */
}
.header{
    transform: translateY(-20px);
    transform: translateX(40vw);
    
    /* color: #3500D3; */
    /* font-family: 'Merriweather Sans', sans-serif; */
    /* font-family: 'Bebas Neue', cursive; */
    font-family: 'Teko', sans-serif;
    font-size: 70px;
}
h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
    font-size: 39px;
}
p{
    color: blue;
    font-family: 'Teko', sans-serif;
    font-size: 20px;
}
.nasa{
    color: #b0dfe5;
    font-size: 20px;
}